/*
 * Icon Font shopping-heart
 * Made with love by Icons8 [ https://icons8.com/ ] using FontCustom [ https://github.com/FontCustom/fontcustom ]
 *
 * Contacts:
 *    [ https://icons8.com/contact ]
 *
 * Follow Icon8 on
 *    Twitter [ https://twitter.com/icons_8 ]
 *    Facebook [ https://www.facebook.com/Icons8 ]
 *    Google+ [ https://plus.google.com/+Icons8 ]
 *    GitHub [ https://github.com/icons8 ]
 */


@font-face {
  font-family: "shopping-heart";
  src: url("../fonts/shopping-heart.eot");
  src: url("../fonts/shopping-heart.eot?#iefix") format("embedded-opentype"),
       url("../fonts/shopping-heart.woff2") format("woff2"),
       url("../fonts/shopping-heart.woff") format("woff"),
       url("../fonts/shopping-heart.ttf") format("truetype"),
       url("../fonts/shopping-heart.svg#shopping-heart") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "shopping-heart";
    src: url("../fonts/shopping-heart.svg#shopping-heart") format("svg");
  }
}

[data-icons8]:before { content: attr(data-icons8); }

.icons8, [data-icons8]:before,
.icons8-building-outline:before,
.icons8-building-outline-2:before,
.icons8-green-idea:before,
.icons8-green-idea-2:before,
.icons8-handshake-heart:before,
.icons8-handshake-heart-2:before {
  display: inline-block;
  font-family: "shopping-heart";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icons8-building-outline:before { content: "\f100"; }
.icons8-building-outline-2:before { content: "\f101"; }
.icons8-green-idea:before { content: "\f102"; }
.icons8-green-idea-2:before { content: "\f103"; }
.icons8-handshake-heart:before { content: "\f104"; }
.icons8-handshake-heart-2:before { content: "\f105"; }