// Variables
// --------------------------


$icons8-css-prefix: "icons8";
$icons8-font-name: "shopping-heart";
$icons8-font-path: "../fonts";

$icons8-var-building-outline: "\f100";
$icons8-var-building-outline-2: "\f101";
$icons8-var-green-idea: "\f102";
$icons8-var-green-idea-2: "\f103";
$icons8-var-handshake-heart: "\f104";
$icons8-var-handshake-heart-2: "\f105";
